@{
    ViewData["Title"] = "VV Gym";
}

<div class="text-center">
    <h1 class="display-4">VV Gym</h1>
    <p>Acompanhe meus projetos em <a href="https://github.com/Foqsz">GitHub</a></a>.</p>
    <img src="~/imagens/Captura de tela 2025-03-27 110132.png" alt="VV Gym Logo" />
</div>
