@model IEnumerable<DevStudy.FrontEnd.DevStudyFrontEnd.Core.Models.ExercicioViewModel>

@{
    ViewData["Title"] = "Painel do Professor";
}

<h2>@ViewData["Title"]</h2>

<p>
    Painel Administrativo do Professor
</p> 
<hr />
<p>
    Tutorial: <br />
   1° - Crie um Exercicio; <br />
    2° - Registre no Treino; <br />
   3° - Registre um Treino Exercicio.
</p>
<hr />

<p> Aqui você registra ou consulta exércicios. </p>
<p>
    <a asp-controller="Exercicios" asp-action="Index" class="btn btn-secondary">Gerenciar Exercicios</a>
</p>
<hr />
<p>Aqui você cadastra o Aluno a um Exercicio</p>
<p>
    <a asp-controller="Treinos" asp-action="Index" class="btn btn-secondary">Gerenciar Treinos</a>
</p>
<hr />
<p>Aqui você pega o AlunoId, TreinoId e ExercicioId e informa as series e repeticoes.</p>
<p>
    <a asp-controller="TreinoExercicio" asp-action="Index" class="btn btn-secondary">Gerenciar Treinos Exercicio</a>
</p>
<hr />


<form asp-action="EncerrarLogin" method="post"
      style="width: 40%; margin: 0 auto; display: flex; flex-direction: column; align-items: center; text-align: center;">
    <div class="form-group" style="width: 50%;">
        <button type="submit" class="btn btn-danger" style="margin-top: 5px;">Encerrar Seção</button>
    </div>
</form>