@{
    ViewData["Title"] = "Login";
    ViewData["OcultarNavbar"] = true;
}


<div class="text-center">
<h2>Login de Aluno</h2>
<form asp-action="LoginAluno" method="post">
    <label for="id">ID do Aluno:</label>
    <input type="number" name="id" required />
    <button type="submit" class="btn btn-info">Entrar</button>
</form>
</div>

<form asp-action="EncerrarLogin" method="post"
      style="width: 40%; margin: 0 auto; display: flex; flex-direction: column; align-items: center; text-align: center;">
    <div class="form-group" style="width: 50%;">
        <button type="submit" class="btn btn-danger" style="margin-top: 15px;">Encerrar Seção</button>
    </div>
</form>
@if (ViewBag.Erro != null)
{
    <p style="color:red">@ViewBag.Erro</p>
}
